{% extends 'layouts/base.html' %}
{% block content %}

<div class="starter-template">

  <h1>Homepage</h1>

  <div class="col-12 col-sm-6 col-md-6 pt-4">
    <div class="card text-center">
      <div class="card-header"><h3>Prepaid autoCounter</h3>

      </div>
      <div class="card-body">
        <form action="" method="post" class="form-signin">
          {% csrf_token %}
          <!--label for="places">Choose Place:</label>
          
          <select id="{{place.id}}" name="places">
            {% for place in object_list %}
            <option value="{{place.id}}">{{place}}</option>
            {% endfor %}         
          
          </select-->   
          
          <label for="places">Choose Place:</label>
          
          <select id="{{place.id}}" name="place">
            {% for place in place_list %}
            <option value="{{place.id}}">{{place.id}}-{{place}}</option>
            {% endfor %}         
          
          </select> 
         
          <button class="btn btn-success btn-lg " type="submit">Generate Receipt </button>

      </div>

    </div>
  </div>



</div>
</form>

</div>
</div>
<div class="col-12 col-sm-6 col-md-6 pt-4">
  <div class="card text-center">
    <div class="card-header"><h3>Receipt</h3>

    </div>
    <div class="card-body">
      <p>{{place_name}}</p>
      <p>{{amount}}</p>
      <p>{{total_distance}}</p>  
</div>
</div>
</div>




{% endblock content %}